*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    
}
.mainClass{
    padding: 3rem;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: rgb(28, 128, 101);
}

.d-flex{
    display: flex;
}
.centrar{
    justify-content: center;
    align-items: center;
}
.divTipo1{
    width: 50%;
    justify-content: center;
}

.of-hidden{
    overflow: hidden;
}

.inputClass{
    width: auto;
    max-height: 70px;
    margin: 0px 20px 0px 20px;
}
.margen{
    margin: 2rem;
}
.boton{
    background-color: rgb(1, 122, 74);
    font: 1em sans-serif;
    font-weight:800 ;
    width: 200px;
    height: 70px;
}